# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.scala text eol=lf
*.pl text eol=lf
*.js text eol=lf
*.sbt text eol=lf
*.git* text eol=lf