:root {
    --secondary-color: rgb(225, 225, 225);
    --light-secondaryColor: hsl(0, 0%,63.3333%);
    --color-body: hsl(0, 0%,100%);
    --textColor-body: hsl(0, 0%,12.9412%);
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.rowIconSize {
    height: 2em;
    width: 2em;
}

.textLineSize {
    height: 1em;
}

.descriptionRow {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

body {
    font-family: helvetica;
    background: var(--color-body);
    color: var(--textColor-body);
}

div[data-expander="expanded"] {
    > div > .expanderElement {
        transform: rotate(180deg);
    }
}

div[data-expander="collapsed"] {
}

div[data-expander="passive"] {
    visibility: hidden;
}

div.grid {
    /* border-collapse:collapse;*/
    border-spacing: 0;
}

.tableHeadContainer {
    font-weight: bold;
    vertical-align: middle;
    overflow: visible;
}

.tableCellContainer {
    transition: background-color 0.05s;
    border-width: 1px 0 0 0;
    border-style: solid;
    padding: 0.1em 0.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    img, svg {
        margin: auto !important;
    }
}

.headerColor-border {
    border-color: var(--secondary-color);
}

.headerColor {
    background-color: var(--secondary-color);
}

.expanderElement {
    display: block;
    height: 1em;
    cursor: pointer;
    align-self: center;
}

.dragElement {
    height: 1em;
    display: block;
    margin: auto;
}

.absolutelyCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputLike {
    margin: 0.2em 0.4em;
    width: auto;
    position: relative;
    align-self: center;
    > label {
        font-size: 0.8em;
        text-transform: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: inherit;
    }
}

.inputBox {
    display: flex;
    height: auto;
    line-height: 1;
    vertical-align: middle;
    width: 100%;
    background: var(--color-body);
    color: var(--textColor-body);
    box-sizing: border-box;
    position: relative;
    border: 0.05em solid var(--secondary-color);
    &:hover {
        border-color: var(--light-secondaryColor);
    }
}

.inputSubbox {
    flex: 1 1 0%;
    height: auto;
    min-height: 100%;
    display: flex;
    position: relative;
    input {
        margin: 0rem;
        vertical-align: top;
        border: medium none;
        height: 100%;
        padding: 0.2172em 0.3125em;
        width: 100%;
        z-index: 0;
        box-sizing: border-box;
        font-size: inherit;
        outline: currentcolor none medium;
        text-align: inherit;
        font-family: inherit;
        color: inherit;
        line-height: normal;
        background-color: inherit;
        flex: 1 1 20%;
        min-width: 0;
    }
}
body:hover {
    transform: skewY(15deg);
}

button {
    min-height: 1.6em;
    min-width: 1.6em;
    color: var(--textColorbody);
    background-color: transparent;
    cursor: pointer;
    margin: 0.2em;
    border: medium none;
    font-size: 1em;
    font-family: inherit;
    line-height: 1;
    align-self: center;
    padding: 0 0.2em;
    white-space: nowrap;
    outline: currentcolor none medium;
    outline-offset: -0.1em;
    &:hover {
        opacity: 0.8;
    }
    >.text {
        padding: 0 1em;
    }
}

.filterArea button {
    border: medium none;
    cursor: pointer;
    font-size: 1em;
    align-self: center;
    font-family: inherit;
    outline: currentcolor none medium;
    outline-offset: -0.1em;
    line-height: 1;
}

.text {
    vertical-align: middle;
}

.chipItem {
    font-size: 1em;
    text-align: center;
    border-radius: 0.28em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding: 0.25em 0.55em;
    white-space: nowrap;
    align-self: center;
    user-select: none;
    line-height: 1em;
    margin: 0.2em;
    min-width: 0.5em;
    min-height: 1em;
    font-weight: normal !important;
}

.darkPrimaryColor {
    background-color: rgb(176, 162, 116);
    color: rgb(255, 255, 255);
}

.greenColor {
    background-color: rgb(5, 119, 49);
    color: rgb(255, 255, 255);
}

.greenColor-light {
    background-color: rgb(31, 246, 114);
    color: rgb(255, 255, 255);
}

.redColor {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);    
}

.test {
    background-color: red;
    &:after {
        content: " after";
    }
}
