<configuration scan="true">
    <!--statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" /-->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <include file="./logback.xml"/>
    <appender name="CON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/c4db/logback/%d{yyyy-MM-dd}/${C4STATE_TOPIC_PREFIX}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CON" />
        <appender-ref ref="FILE" />
    </root>
    <shutdownHook/>
</configuration>
