:root {
  --secondary-color: rgb(225, 225, 225);
  --light-secondaryColor: hsl(0, 0%, 63.3333%);
  --color-body: hsl(0, 0%, 100%);
  --textColor-body: hsl(0, 0%, 12.9412%);
}

body {
  font-family: helvetica;
  background: var(--color-body);
  color: var(--textColor-body);
  overflow-x: hidden;
}

.filterArea > div {
  /*border: 1px solid silver*/
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.rowIconSize {
  height: 2em;
  width: 2em;
}

.filterButtonIcon {
  height: 1.3em;
  width: 1.3em;
}

.hideFilterIcon {
  height: 1.2em;
  width: 1.2em;
}

.inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  line-height: 1;
  vertical-align: middle;
  width: 100%;
  background: var(--color-body);
  color: var(--textColor-body);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  border: 0.05em solid var(--secondary-color);
}

.inputBox:hover {
  border-color: var(--light-secondaryColor);
}

.inputSubbox {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  height: auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.inputSubbox input {
  margin: 0rem;
  vertical-align: top;
  border: medium none;
  height: 100%;
  padding: 0.2172em 0.3125em;
  width: 100%;
  z-index: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: inherit;
  outline: currentcolor none medium;
  text-align: inherit;
  font-family: inherit;
  color: inherit;
  line-height: normal;
  background-color: inherit;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  min-width: 0;
}

button {
  min-height: 1.6em;
  min-width: 1.6em;
  color: var(--textColor-body);
  background-color: transparent;
  cursor: pointer;
  margin: 0.2em;
  border: medium none;
  font-size: 1em;
  font-family: inherit;
  line-height: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 0.2em;
  white-space: nowrap;
  outline: currentcolor none medium;
  outline-offset: -0.1em;
}

button:hover {
  opacity: 0.8;
}

button > .text {
  padding: 0 1em;
}

.filterArea button {
  border: medium none;
  cursor: pointer;
  font-size: 1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: inherit;
  outline: currentcolor none medium;
  outline-offset: -0.1em;
  line-height: 1;
}

.exampleButton {
  border: 1px solid blue;
  height: calc(100% - 0.4em);
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.2em;
  margin: 0.2em;
}

.closedExpander {
  background-color: silver;
}

.openedExpander {
  background-color: grey;
}

.exampleFilterItem {
  border: 1px solid blue;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rowIconSize {
  height: 2em;
  width: 2em;
}

div[data-expander='expanded'] {
  /*writing-mode: vertical-rl;
            text-orientation: mixed;*/
}

div[data-expander='expanded'] > div > .expanderElement {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.expanderElement {
  display: block;
  height: 1em;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

div[data-expander='passive'] {
  visibility: hidden;
  position: fixed;
}

div.grid {
  /* border-collapse:collapse;*/
  --secondary-color: rgb(238, 238, 238);
  border-spacing: 0;
}

.tableHeadContainer {
  font-weight: bold;
  vertical-align: middle;
  overflow: visible;
}

.tableCellContainer {
  border-width: 1px 1px 0 0;
  border-style: solid;
  padding: 0.1em 0.2em;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: red none 1px;
  outline-offset: -1px;
}

.tableCellContainer img,
.tableCellContainer svg {
  margin: auto !important;
}

.headerColor-border {
  border-color: var(--secondary-color);
}

.headerColor {
  background-color: var(--secondary-color);
}

.expanderElementContainer {
  margin: 0.2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.expanderElement {
  display: block;
  min-height: 1.2em;
  cursor: pointer;
  margin: 0.2em auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.inputLike {
  margin: 0.2em 0.4em;
  width: auto;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.inputLike > label {
  font-size: 0.8em;
  text-transform: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: inherit;
}

.chipItem {
  font-size: 1em;
  text-align: center;
  border-radius: 0.28em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 0.25em 0.55em;
  white-space: nowrap;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 1em;
  margin: 0.2em;
  min-width: 0.5em;
  min-height: 1em;
  font-weight: normal !important;
}

.primaryColor {
  background-color: #e5d089;
  color: white;
}

.darkPrimaryColor {
  background-color: #b0a274;
  color: white;
}

.lightPrimaryColor {
  background-color: #af8f26;
}

.greenColor {
  background-color: #057731;
  color: white;
}

.greenColor-light {
  background-color: #1ff672;
  color: white;
}

.redColor {
  background-color: red;
  color: white;
}

.test {
  background-color: red;
}

.test:after {
  content: " after";
}

.absolutelyCenteredExpander {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*


.descriptionRow {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.dragElement {
    height: 1em;
    display: block;
    margin: auto;
}

.absolutelyCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textLineSize {
    height: 1em;
}

*/
/*# sourceMappingURL=style.css.map */